@charset "UTF-8";
/**
roundup mark II
 */

@media all
{
  /*------------------------------------------------------------------------------------------------------*/

  /* (Marginal areas & page background */
  body {   
  text-align: center; 
  background-color: #fafafa ;
  padding-top: 0px;
  margin-top:0px;
  font-family: 'lucida grande', helvetica, verdana, arial, sans-serif;
  font-size: 72.5%;
   }
  
  


#wrapper {
  /* Reset alignment to compensate for 'text-align:center': */
  text-align: left;
  /* Specify the width of the element. This should be the same
     as 'body min-width': */
  width: 829px;
  /* Set left and right margins to auto, thus centering the 
     element in the containing (body) tag: */
  margin-left: auto;
  margin-right: auto;
}
#page {
background-color: #fff;
}


  /*  Designing main layout elements */


  
  /* #topnav is the menu at the far top of the page, above the header etc */
  
	#topnav , #topnav a:link, #topnav a:visited , #topnav a:active { 
	color: #474747; 
font-family: 'lucida grande', helvetica, verdana, arial, sans-serif;
font-size: 89%;	
	padding: 3px 10px 3px 10px;
	background: transparent;
	text-decoration: none;
	}
	#topnav a:hover {color:#ff406b ; text-decoration:none;}
	

  /*  adjustment of main navigation
  #nav ul { margin-left: 20px; }
  #nav_main {background-color: #336} */

  #main { background: #fff;padding:0px 0; }

  #footer { 
    color:#eee; 
	margin: 0 0 0 0;
	background: #000 url("../../images/footer.jpg") no-repeat ;
	    width: 829px;
	height: 188px;
	text-align: left;
  }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   *  Formatting content container
   * (
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col1   | #col3     | #col2   |
   * | 25%     | flexible  | 25%     |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */


  #col1 { width: 25% }
  #col1_content { padding: 0px 10px 10px 20px; }

  #col2 { width: 25% }
  #col2_content { padding: 0px 20px 10px 10px; }

  #col3 { margin: 0px 25% }
/*  #col3_content { padding: 0px }*/
	#col3_content {
	padding:0px 15px 5px 15px;

	}

  /*------------------------------------------------------------------------------------------------------*/

/* Header Graphics */

#Table_01 {
	position:relative;
	left:0px;
	top:0px;
	width:829px;
	height:204px;
}

#top-menu {
	position:absolute;
	background:url(../../images/top-menu.jpg);
	left:0px;
	top:0px;
	width:829px;
	height:23px;
}


#logo-area {
	position:absolute;
	left:-2px;
	top:23px;
	width:647px;
	height:121px;
}

#cardboard-tab {
	position:absolute;
	left:647px;
	top:23px;
	width:182px;
	height:181px;
}


#menu-area {
	position:absolute;
	background:url(../../images/menu-area.jpg);
	left:0px;
	top:144px;
	width:647px;
	height:60px;
}

/* menu-area menu */

 #menu-area ul
{

margin: 21px 20px 20px 27px;
padding: 0;
list-style-type: none;
}

#menu-area ul li { display: inline; }

#menu-area ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #545454;
background-color: #e5e5e5;
font-size: .85em;
}

#menu-area ul li a:hover {
color: #fff;
background-color: #ff406b;
}



#middle-list-container {width:780px;
height: 30px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
background: #fff url("../../images/stripe.gif") repeat;
}

#middle-list{
text-align: center;
list-style-type: none;
margin: 0;
padding: 7px 20px 5px 20px;
/*padding: 0;*/
}

#middle-list li {
float: left;
line-height: 1.1em;
margin: 0 .5em 0 -.5em;
padding: 0 .5em 0 .5em;
}
#middle-list a {color: #727272;}

#middle-list a:hover {color: #ff406b;}



/* overview */

#overview {
width: 780px;
height: 350px;
margin-left: auto;
margin-right: auto;
}

/* statistics box */

#statistics {
margin: 0 20px 0 0;
float: left;
height: 320px;
width:300px;
background: url('../../images/box_statistics.jpg') no-repeat; 
}
#statistics a, #statistics img {
border: 0px;
}
#statistics-text {
padding: 35px 25px 10px 25px;
}



#browse-download-retrieve {
width:770px;
height: 280px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

div.float {
  float: left;
  }

#box a, #box img {
margin: 25px 2px 25px 2px;
border-style: none;
}



 

#disclaimer {
width:780px;
/*height: 70px;*/
margin-left: auto;
margin-right: auto;
}


  #topnav a { color: #aaa; font-weight: normal; background:transparent; text-decoration:none; }
  #topnav a:focus, 
  #topnav a:hover,
  #topnav a:active { text-decoration:underline; background-color: transparent;}
 
 /*
  #footer a { color: #999; background:transparent; font-weight: bold;}
  #footer a:focus, 
  #footer a:hover,
  #footer a:active {color: #4D87C7; background-color: transparent; text-decoration:underline;}
  */
#footer-text {
margin: 30px 20px 10px 20px;
padding: 10px;
border: 1px;
border-color: #e5e5e5;
border-style: dashed none none none;

}




}


