@charset "UTF-8";
/**
Roundup Mark II
 */

@media all
{
  /* reset font size for all elements to standard (16 Pixel) */
   html * { font-size: 100.01% }


   
/* b) Typography */
#col3_content{	
/*	font-size: 72.5%;*/
	font-size: 12px;
	font-family: 'lucida grande', helvetica, verdana, arial, sans-serif;
	}
	
a {
	padding: 2px;
	color: #25c4ff;
	text-decoration: none;
	}
 a:hover {
	color: #ff406b;
/*	background: #39525F;*/
	}

h2 {
	margin: 0 5px 15px 0;
	font-size: 2em;
	line-height: 1.1em;
	display: inline;
	color:#25c4ff;
	text-align: left;
	}


p {		
margin: 10px 0 0;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #707070;
	}
	
img
{  border-style: none;
}
p strong {
	color: #727272;
	}
	
blockquote {
	margin: 0 30px 2em;
	padding-left: 15px;
	border-left: 5px solid #ccc;
	color: #888;
	font-size: 11px;
	}
	
abbr, acronym {border-bottom: 1px dotted #666; cursor: help;}

code {
	color: #11b;
	font-family: Monaco, 'Courier New', Courier, mono;
	font-size: 12px;
	}
#footer-text {
line-height: 1.5em;
color: #707070;

font-size: 72.5%;
} 
#footer-text a:link {
color: #9adb80;
}
#footer-text a:focus, #footer a:hover, #footer a:active {
color: #cf74d5;
}
#statistics-text strong {
color: #323232;
font-size:1.4em;
line-height: 1em;
}


#present {
white-space: pre-wrap;
}
/* CRUCIAL wrapping of <pre> tag */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* display docs */

 #doctext ul {
 align: left;
 width: 560px;
  margin: 0 0 1em 5px;
   }
  
 #doctext li {
 text-align:left;
 font-size: .9em;
 margin-left: 10px; line-height: 1.5em;
 list-style-type: none; }
  
  
 #doctext h3 {
	margin: 10px 5px 15px 0;
	font-size: 1.5em;
	line-height: 1.1em;
	display: inline;
	color:#25c4ff;
	font-weight: normal;
	text-align: left;
	}
#doctext {
text-align: left;
font-size: 14px;
     margin-left: 0.5em; line-height: 1.5em;
     color: #707070;
}

/* ALAS... THERE MUST BE TABLES */


.roundup_cluster table {
	background-color: #ffffff;
	width: 100%;
	padding: 1px;
}

.roundup_cluster a{
color: #096283;
}

div.roundup_form {
	background-color: #eeeeee;
	padding-right: 5px;
	padding-left: 5px;
}

div.roundup_form_row {
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}

.roundup_cluster .c_h td {
	background-color: #dddddd;
}

.roundup_cluster .c_f td {
	background-color: #ffffff;
}

.roundup_cluster td {
	background-color: #cccccc;
}

.paging_table {
	background-color: #eeeeee;
}

table.paging_table {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.paging_table td.left {
	text-align: left;
}

.paging_table td {
	text-align: center;
}

.paging_table td.right {
	text-align: right;
}
.tablerowPlainLight {
      background-color: #FFFFFF;
      border-bottom-color: #999999;
      border-bottom-style: solid;
      border-bottom-width: thin;
}
.ppad_2 {
      padding-top: 4px;
      padding-bottom: 2px;
}



}



