body{padding:0;margin:0;
background:#e8e8e8;
font-family : Helvetica, Arial, sans-serif; font-size :85%; color : #404040;
}
#results-box {
width:100%;
border:1px solid #8a8a8a;
background:#fff;
margin:10px;
padding:20px;
}
a:link,a:visited {color:#108ef1;}
a:hover {color:#9dcbef;}

/*Top bar navigation*/
#navigation2{ height:23px; background:#051c27; color:#fff; /*border-top:1px solid #2c2b22 */; font-family:arial;}
#navigation2-wrap {width:100%; margin:0;}
#subnavlist a{color:#fff; font-size:11px; text-transform:uppercase;}
#subnavlist a:hover{color:#04637F; font-size:11px; text-transform:uppercase;}
#subnavlist{ padding:1px 0 0 0;}
#subnavlist li{padding:0 18px;}

/* header area */
#header{height:75px; position:relative; padding-top:0px;}
#logocontainer{float:left;}
#logocontainer img {width:375px; height:75px; margin-left:20px;}
/**************************************/
/*             NAVIGATION             */
/**************************************/
#navigation {height:120px;	display: block;padding:5px;}
	
.container ul li {margin:0;}

#navigation ul {	list-style-type: none;	position: relative;	left:10px;	bottom: 10px;}
#navigation li a{	display: block;	float: left;	width: 106px; height:35px;	text-align: center;	padding-top:85px;;	cursor: pointer;}
#navigation li.home a{	background: url(/static/images/home-icon.png) no-repeat top center;position:absolute;top:10px; left:10px;}
#navigation li.browse a{	background: url(/static/images/browse-icon.png) no-repeat top center;position:absolute;top:10px; left:145px;}
#navigation li.retrieve a{	background: url(/static/images/retrieve-icon.png) no-repeat top center;position:absolute;top:10px; left:282px;}
#navigation li.download a{	background: url(/static/images/download-icon.png) no-repeat top center;position:absolute;top:10px; left:422px;}
#navigation li.proteomes a{	background: url(/static/images/proteomes-icon.png) no-repeat top center;position:absolute;top:10px; left:560px;}
#navigation li.about a{	background: url(/static/images/about-icon.png) no-repeat top center;position:absolute;top:10px; left:690px;}
#navigation li a {	text-decoration: none;	color: #444444;	font-size: 1em;	font-weight: normal;text-decoration: none;	letter-spacing: .1em;}
#navigation li:hover a {	color: #000;}


/* @end */

#footer {margin:10px;width:800px;}