
body {
padding: 0px;
margin: 0px;
/* align: center; */
}

a:link, a:visited {
color: #09C;
outline: none;
text-decoration: none;
}
a:hover {
color: #058;
text-decoration: underline;
}

div.main {
background-color: #bbb;
}
/*
font-family: 'Quattrocento Sans', 'Josefin Sans', Arial, 'Crimson Text', 'Droid Sans Mono', 'Terminal Dosis Light', sans-serif;
font-family: sans-serif;
*/

div.header {
width: 100%;
background: #555;
}
/*
background: #aaa;
*/

.footer {
text-align: center;
background: #f690cf;
}
/*
background:#ddd;
*/

div.footer {
padding: 10px;
}


div.banner {
padding: 0px;
background: #f690cf;
}
/*
background: #4A1DEE;
background-image:url('/static/img/genotator_banner_extender.jpg');
background-repeat:repeat-x;
*/

div.banner div.yum {
margin: 0 auto;
width: 1140px; 
padding: 0px;
}
/*
background-image:url('/static/img/genotator_banner_extender.jpg');
background-repeat:repeat-x;
*/

.banner a {
text-decoration: none;
}

.banner a img {
border-style: none;
}


div.outer_content {
padding: 10px 0px;
}
/*
padding: 10px 0px 10px 0px;
*/

div.content {
color: #333;
padding: 1px 10px 10px 10px;
background: #eee;
margin: 0px auto;
width: 1140px;
border: 1px; 
}

.maintenance {
background-color:#600;
color: #f00;
}

.error-message {
color: #f00;
}


img.top_left {
float: left;
margin: 0px 10px 10px 0px;
}

/* MENU NAVIGATION: http://css.maxdesign.com.au/listamatic/horizontal19.htm */
div.nav {
margin: 0 auto;
width: 1140px; 
}
.nav div {
display: inline;
}
/*
margin-left: 20px;
*/

.nav a {
/* background: url(menu-background.gif) #fff bottom left repeat-x; */
text-transform: uppercase;
font-size: 0.8em;
font-family: sans-serif;
padding-top: 5px;
padding-bottom: 5px;
color: #aaa;
text-decoration: none;
}

.nav a:hover {
color: #ccc;
}

.nav a.thisPage {
text-decoration: none;
font-weight: bold;
color: #eee;
}

.nav ul {
list-style: none;
padding: 0;
margin: 0;
}

.nav li {
margin-right: 20px;
display: inline;
}

table#disorder_result {
width: 1140;
}

#disorder_result .header {
background: #999;
}

#disorder_result .odd {
background: #ccd;
}

#disorder_result .even {
background: #dcc;
}

#disorder_result td {
}

div#home {
padding: 0px;
margin: 0px;
}

div.section div.title {
text-transform: uppercase;
font-size: 1.5em;
display: block;
}
/*
*/

div.section {
font-size: 1em;
background: #fff0f8;
border: 1px solid #aaa;
margin-top: 10px;
padding: 10px;
}
/*
background:#ddd;
border:1px solid black;
*/

.section .title {
text-transform: uppercase;
}
/*
padding: 10px;
font-size: 1.2em;
background: #ccc;
border-bottom:1px solid black;
*/

.section .body {
padding: 5px;
}

.section h2, .section h3, .section th {
font-weight: normal;
}

.section h2, .section h3 {
font-size: 1.5em;
padding: 0;
margin: 0 0 10px 0;
}

.section h2 {
text-transform: uppercase;
}


form.plain_table tr {
}


form.plain_table th {
vertical-align: top;
text-align: left;
font-weight: normal;
}

form.plain_table td {
}


#disorderslist {
padding:0; 
margin:0; 
}

#disorderslist li {
padding: 5px 0px;
list-style-type: none;
}
