/* CSS Document */

*{margin:0; padding:0; text-decoration:none;  list-style:none;}

body{ 
background:#f8f8f8;
/*
background:#3a617b url(/static/images/bg.jpg) center top no-repeat;   
*/
font-family: Helvetica, Arial, sans-serif; 
font-size : 77%; 
color : #404040; 
}
/*
body{
padding:0;margin:0;
background:#e8e8e8;
font-family : Helvetica, Arial, sans-serif; 
font-size :85%; 
color : #404040;
}
*/

body.fluid {
background-color: #ccc;
}
a:link, a:visited{color:#13aeef;/*3480c6*/} 
a:hover{color:#04637F; text-decoration:none;}


h1, h2, h3, h4	{ color : #000; font-weight : normal; padding-top:6px; }
h2 				{ font-size : 114%; }
h2 a:link,
h2 a:visited,
h2 a:active		{ border : 0; }
h2 a:hover		{ background : transparent; border : 0; }
h3				{ font-size : 107%; }
abbr			{ cursor : help; border-bottom : 1px dotted #222; }
code,
pre				{ font-family : Courier, monospace; /* "Lucida Grande", Veranda, Arial, Helvetica, sans-serif; */ }
p				{ margin : 1em 0; }
p				{ line-height : 19px; }

ul			{ margin : 1em 0; padding-left : 2em; list-style-image :none; }
li			{ margin : 5px 0; line-height : 19px; }
strong		{ font-weight : bold; }
em			{ font-style: italic; }
/* used for the 'weclome to the wrong blog text */
div.pretty-header p { background-color: #fff;  border: 1px solid #f3f1ed;  width:500px;  padding:10px;font-size: 28px;letter-spacing: -3px;margin:0pt;font-weight: bold;color: #a7d1eb;}

/* next line is node title on front page */
h2 a:link, h2 a:visited, h1 a:link, h1 a:visited, h3 a:link, h3 a:visited{color:#000; font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3{ font-size:18px; }
h2.blocktitle, .node h1  {padding-bottom:3px;border-bottom:1px dashed #ccc;}

#h2title h2{margin:0 0 5px 0;}
li.leaf, ul li, .item-list ul li {list-style-image:none; list-style-type:none;}
li.collapsed{list-style-image: none;}



/*NAVIGATION*/

#sitenav {
height:23px; 
background:#051c27; 
color:#fff;
/*
border-top:1px solid #2c2b22;
*/ 
font-family:arial;
}
#globalnav { 
height:23px; 
background:#051c27; 
color:#fff;
/*
border-top:1px solid #2c2b22;
*/ 
font-family:arial;
}
div.nav {
}
div.navwrap {
width:878px; 
margin:0 auto;
}
.fluid div.navwrap{
width:100%;
}
.nav a{color:#fff; font-size:11px; text-transform:uppercase;}
.nav a:hover{color:#04637F; font-size:11px; text-transform:uppercase;}
.nav ul{ padding:1px 0 0 0;}
.nav li{padding:0 0 0 20px;}
ul.links {margin:0;}
.links  ul.links.inline {text-align:right; display:block; width:99%;}


/* HEADER */

#header{
height:75px; 
padding-top:0px;
background:#3a617b url(/static/images/bg.jpg) center top no-repeat;   
}

#logocontainer{
width: 878px;
display: block;
margin: 0 auto;
}
.fluid #logocontainer{
width:100%;
}
#logocontainer img {
height:75px; 
width:375px; 
margin-left:15px;
}

#texttitles{float:left; margin:20px 0 0 10px;}
#header #blogdesc h1 a, #header #blogdesc a:hover{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#484642; text-decoration:none; font-size:22px; }

#header .site-slogan{ font-family: Arial, Helvetica, sans-serif; color:#afafaf; text-decoration:none; font-size:18px; }

#header-content{ width:468px; padding:4px; float:right; height:96px;}
#ad-728x90 { 
margin-left:auto;margin-right:auto; text-align:center;width:878px;padding-top:5px;
}


/*CONTAINER*/

#container{ 
}
.fixed #container2{
width:878px; 
display: block;
margin: 0 auto;
border:solid #e6e5e5 0px
background: #fff;
}
#wrap {
padding:12px 4px 30px 4px; 
background: #fff;
/*
background: #fff url(/static/images/wrap.jpg) top center no-repeat; 
width:870px;
display:table-cell; 
*/
}
.fixed #wrap{
/*
display:table-cell; 
*/
}
.fluid #container2 {
width:100%;
border:1px solid #8a8a8a;
background:#fff;
margin:10px;
padding:20px;
width:100%;
}
.fluid #wrap {
padding:20px;
/*
display:block;
*/
}
/*
#results-box {
width:100%;
border:1px solid #8a8a8a;
background:#fff;
margin:10px;
padding:20px;
}
*/

#button1 {position:absolute;top:15px;right:183px;height:45px;width:45px;}
#button2 {position:absolute;top:15px;right:141px;height:45px;width:41px;}
#button3  {position:absolute;top:15px;right:97px;height:45px;width:41px;}
#button4  {position:absolute;top:15px;right:51px;height:45px;width:41px;}


#panel-banner-recent {width:500px; height:130px; margin:10px 5px 0px 15px;background:url(/static/images/recent-banner.jpg) no-repeat;}



  
/*wrapper*/ 
/*
#wrap{ padding:12px 4px 30px 4px; background: #fff url(/static/images/wrap.jpg) top center no-repeat; display:table-cell; width:870px;}
*/



/*#content_top img{padding:5px;}
#content_top .content {background:#f2f1ef;}*/
/*#content_top h2{font-size:16px; font-weight:normal; padding:5px 8px 5px 18px; color:#000; }*/
body.sidebars #content_top{ }
body.sidebar-left #content_top, body.sidebar-right #content_top{}



body.sidebars #leftside{ float:left; width:140px;}
body.sidebars #contentmiddle{  float:left; width:450px; margin:0 5px; }
body.sidebars #rightside{ float:right; width: 250px; padding-right:10px; padding-top:11px; }

body.sidebar-left #leftside{ float:left; width:140px;}
body.sidebar-left #contentmiddle{  float:left; width:700px; margin:0 5px; }
body.sidebar-left #rightside{ float:right; width: 250px; padding-right:10px; padding-top:11px; }

body.sidebar-right #contentmiddle{ 
float:left; 
/* 
position:relative;
display:inline;
*/
width:590px; 
margin:0 5px; 
}
body.sidebar-right #rightside{ 
/*
display:inline;
position:relative;
left:590px;
*/
float:right; 
width: 250px; 
padding-right:10px; 
padding-top:11px; 
}




/* 

contentmiddle 


 */
#mainpage {width:780px; margin:10px auto; min-height:420px; padding-bottom:30px;}
 
 
/*Blocks*/
#leftside .block{ margin:0 0 12px 0; border-right:1px dashed #ccc; }
#leftside .block h2.blocktitle{font-size:13px; font-weight:normal; display:block; text-transform: uppercase;padding:16px 3px 3px 8px; color:#000;}
#leftside .block .content{ padding:6px; }
#rightside .block {border-left:1px dashed #ccc; margin: 0 0 12px 0;}
#rightside .block .content{padding:2px 8px; }
#rightside .block h2.blocktitle, #rightside .block h2.blocktitle a{font-size:13px; font-weight:normal; text-transform:uppercase;display:block; color:#a7cde0; /*background:url(/static/images/righth2.png) repeat-x;*/ padding:8px 8px 0px 8px; margin:2px;}
#rightside .block ul li{ list-style:none; list-style-image:none; line-height:22px; margin:0; padding: 0 0 0 4px;}
#rightside .block ul.menu, #rightside .block ul{padding:0 0 0 4px;}


/*Content*/
.breadcrumb{padding:0 4px 5px 4px; font-size:11px;}
.node{padding:8px; background: url(/static/images/gradient.jpg) repeat-x bottom; margin: 0 0 12px 0;}
.node .content{ padding:0px 0;}
#mission{border:1px solid #151515; margin: 0 0 15px 0;}
#mission .inner{border:1px solid #fff; padding:10px; background:url(/static/images/mission.png) repeat-x bottom #f3f1ed;}
#missiontitle{padding:0 0 6px 0; margin:0 0 6px 0; background:url(/static/images/li-mission.gif) bottom repeat-x;}
#missiontitle h3{ font-size:18px; padding: 0 20px 0px 20px; background:url(/static/images/our-mission.png) no-repeat left center;}
.postmeta{margin:0 0 4px 0; text-align:right}

/*Misc*/

.submitted{color:#999999; font-size:10px;}
.taxonomy{font-size:11px;}
a.node_read_more{background:url(/static/images/collapsed.png) no-repeat left center; padding: 0 0 0 10px;}
a.comment_add{background:url(/static/images/comment.png) no-repeat left center; padding:0 0 0 15px;}




/*Admin*/

div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu { background-image:none;
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}

div.admin-panel {
  background: #fff;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #f3f1ed;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #ece4da;
}

/**
 * CSS support
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #f3f1ed;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #f3f1ed;
}

div.status {
  color: #333;
  border-color: #f3f1ed;
  width:500px;
  padding:10px;
  font-size:120%;
}


ul.errorlist li {
color: red;
background-color: pink;
}

div.error {
  color: #c52020;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #f3f1ed;
  color: #494949;
}

/**
 * Watchdog.module
 */
tr.watchdog-user {
  background-color: #fcf9e5;
}

tr.watchdog-user td.active {
  background-color: #fbf5cf;
}

tr.watchdog-content {
  background-color: #fefefe;
}

tr.watchdog-content td.active {
  background-color: #f5f5f5;
}

tr.watchdog-warning {
  background-color: #fdf5e6;
}

tr.watchdog-warning td.active {
  background-color: #fdf2de;
}

tr.watchdog-error {
  background-color: #fbe4e4;
}

tr.watchdog-error td.active {
  background-color: #fbdbdb;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #d7ffd7;
}
tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #f3f1ed;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #f3f1ed;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #f3f1ed;
}
fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #ece4da;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
 /* border: solid #ece4da;
  border-width: 1px 0;*/ border:none;
}

tr.odd, tr.info {
  background-color: #ccc;
}

tr.even {
  background-color: #ddd;
}

tr.odd td.active {
  background-color: #ccc;
}

tr.even td.active {
  background-color: #ddd;
}

td.region, td.module, td.container {
  border-top: none;
  border-bottom: none;
  background-color: #434343;
  color: #fff;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #494949;
}
textarea, select {
  font: 12px/160% "Verdana";
  color: #494949;
  width:98%;
 
}
textarea{ height:170px;}

/* shrinks the receiver emails area a bit*/
#ecard-form #edit-to-email{height:40px; ;}
#ecard-form #edit-to-email{height:40px; ;}

/*makes the send-to text areas a bit neater */
#ecard-form #edit-from-email{width:471px;}
#ecard-form #edit-name{width:471px;}


/*FOOTER*/

#footer{ 
clear:both;
/*
margin-left:auto; 
margin-right:auto;
width:860px; 
padding:22px 9px; 
text-align:left; 
*/
/* margin-top:-20px;*/
background:#082234; 
color:#a8dcfe; 
font-size:11px; 
line-height:14px;
}
#footer .content {
width:878px;
margin: 0 auto;
}
.credit a, .credit{color:#fff; font-size:12px;
/* padding-top:8px;*/
}
#footer a:link, #footer a:visited{color:#ed992d;}

#pic{padding:10px;float:right;}
 .field-field-picture {
  background: #fcfbfb url(/static/images/ecard-background.jpg) top center no-repeat;
  padding-left:36px; padding-top:21px;
  height:286px;
  }

/*.field-field-picture{margin-left: auto; margin-right: auto;} */



.views-field-name { color:#787472; text-transform: uppercase; font-size:9px;}
.views-field-title{padding-top:0px;}
.views-field-title a:link, .views-field-title a:visited {color: #000;font-size:16px;}


fieldset {
  width: 500px;margin-left:auto;margin-right:auto;
  border: 1px solid #e0e0e0;
  padding: 5px;
  text-align:left;
}
.mceContentBody { background:#fcfbfb;}
.o2k7Skin table.mceLayout {margin-left:1px;}
.form-item{margin-left:15px;font-weight:normal; }
.label {font-weight:normal;}
/* block list.. example left column on front page */ 

.block ul {list-style:none;margin:0px;padding:0 0 1px;}
.block li{padding-bottom:2px;}
.block ul li a {border:none;display:block;color:#000; }
.block ul li a:hover {color:#1dc4f4;}

ul.primary {border:0px;}
li.collapsed  {list-style-type:none;}
.profile h3 {border:none;}

.picture {border:5px solid #ededed;} 
blockquote {
	font-style: italic;
	border-left: 5px solid #D0D0D0;
	padding-left: 10px;
	}
blockquote p {
	font-family: georgia, serif;
	}
blockquote code {	font-style: normal;}


/* THREE COLUMN LIST STUFF */
ol			{ margin : 1em 0; padding-left : 15px; list-style-type : decimal; }
div.wrapper
{  float: left;  width: 95px;
}
/* clear float after lists */
br{  clear: left;}
/* anchor styling */
ol li a{  display: block;  width: 90px;  text-decoration: none;}
ol li a:hover{  color: #FFF; /* white */  background-color: #A52A2A; /* brown */}

/*pager*/
/*pager*/

.item-list .pager {
clear:both;
text-align:center;
}

.item-list .pager li {
background-image:none;
display:inline;
list-style-type:none;
padding:0.3em;
}

.pager-item a.active{
background:#ccc;
color:#fff;
padding:1px 3px;
-moz-border-radius:2px;
border-radius:2px;
}


/* = #featured.. the top region, content_top block region etc.
------------------------------------- */

#content_top { width:860px; /*background:#323232; */padding:10px 0;margin:0 0 0 10px;;}
.imagecache imagecache-display imagecache-linked imagecache-display_linked {padding-left:10px; }


#panel-left { float:left;width:46%;padding-left:6px;}
#panel-right {float:right;width:46%;}

#featured {
	margin: 10px 0;
	position:relative;

}
#content_top .views-field-title {}
#content_top .views-field-title .field-content a,
#content_top .views-field-title .field-content a:link,
#content_top .views-field-title .field-content a:active,
#content_top .views-field-title .field-content a:visited 
{
	color:#13aeef;width:390px;
	text-decoration:none;
	font-weight:normal;
}


.featured-brief {
	width: 380px;
	overflow:hidden
}

#content_top .views-field-created, #content_top label .views-label-created, #content_top .views-label-title  {
	float: left;
	font-size: 1em;width:390px;
	
	margin:0px 0px 0px 0px;
}


.featured-brief h2 {
	color: #000;
	margin: 0px 0 5px 0 !important;
	font-size:35px;
	padding-top:0;
	line-height:.9em;
}
#content_top .featured-brief h2 a:hover{
	color:#fff;
	background:#000;
}


.featured-brief p {
	font-size:14px;
	margin:0 0 10px 0;

}

/**************************************/
/*            CALL-to-ACTION          */
/*      The ABOUT box on front page   */
/**************************************/

#call-to-action {
height:208px;
width:590px;
background: url(/static/images/call-to-action-box.jpg) no-repeat;
padding:5px;}
#call-to-action-text {

width:280px;
float:right;
padding:10px 30px 10px 10px;
}
#call-to-action-text h2 { 
font-size:20px;
line-height:25px;
font-weight:200;
color:#fff;
}
#call-to-action-text p { 
font-size:15px;
line-height:20px;
font-weight:300;
color:#fff;
}
#call-to-action-text p a, #call-to-action-text p:hover a {
color:#ccc; font-weight:300;
}


/**************************************/
/*             NAV             */
/**************************************/
#nav {height:120px;background:url{/static/images/BarBackground.png} repeat-x;
	display: block;padding:5px;}
	
.container ul li {margin:0;}

#nav ul {	list-style-type: none;	position: relative;	left:10px;	top: 0px;}
#nav li a{	display: block;	float: left;	width: 106px; height:35px;	text-align: center;	padding-top:85px;;	cursor: pointer;}
#nav li.home a{	background: url(/static/images/home-icon.png) no-repeat top center;position:absolute;top:10px; left:10px;}
#nav li.browse a{	background: url(/static/images/browse-icon.png) no-repeat top center;position:absolute;top:10px; left:145px;}
#nav li.retrieve a{	background: url(/static/images/retrieve-icon.png) no-repeat top center;position:absolute;top:10px; left:282px;}
#nav li.download a{	background: url(/static/images/download-icon.png) no-repeat top center;position:absolute;top:10px; left:422px;}
#nav li.proteomes a{	background: url(/static/images/proteomes-icon.png) no-repeat top center;position:absolute;top:10px; left:560px;}
#nav li.about a{	background: url(/static/images/about-icon.png) no-repeat top center;position:absolute;top:10px; left:690px;}
#nav li a {	text-decoration: none;	color: #444444;	font-size: 1em;	font-weight: normal;text-decoration: none;	letter-spacing: .1em;}
#nav li:hover a {	color: #000;}


/* @end */
/* ------------------------------ */

/* DEPRECATED */
/*
#blogdesc{float:left; height:50px; padding: 0 20px 0 0; }

*/

