/* CSS Document */

/* DEFAULTS */

* {
margin:0; 
padding:0; 
font-weight: inherit; 
/*
outline: 0; 
vertical-align: baseline; 
border: 0; 
font-style: inherit; 
font-family: inherit; 
font-size: 100%; 
*/
}

ol, ul { list-style: none; }
a img { border: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
hr {height: 1px;border: 0px;color: #000;background-color: #000;} /* thin line */
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

h1, h2, h3, h4	{ color : #000; font-weight : normal; padding-top:6px; }
h2 { font-size : 114%; }
h2 a:link, h2 a:visited, h2 a:active { border : 0; }
h2 a:hover { background : transparent; border : 0; }
h2 a:link, h2 a:visited, h1 a:link, h1 a:visited, h3 a:link, h3 a:visited{color:#000; font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3 { font-size:18px; }
h3 { font-size : 107%; }
abbr { cursor : help; border-bottom : 1px dotted #222; }
code, pre { font-family : Courier, monospace; }
p { margin : 1em 0; line-height : 19px; }
ul { margin : 1em 0; padding-left : 2em; list-style-image :none; }
li { margin : 5px 0; line-height : 19px; }
strong { font-weight : bold; }
em { font-style: italic; }



/* LINKS */
a:link, a:visited { color:#13aeef; } 
a:hover { color:#04637F; text-decoration:none; }



/* BODY */

body{ 
background:#fff;
font-family: Helvetica, Arial, sans-serif; 
font-size : 77%; 
color : #404040; 
}

/* MAINTENANCE */
.maintenance {
width: 100%;
background: #fff0f8;
color: #000;
font-weight: bold;
border: 1px solid #aaa;
margin: 10px;
padding: 10px;
}


/* TWO COLUMN LAYOUT ON HOME PAGE */
/*
http://www.alistapart.com/articles/css-floats-101/
http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/
http://www.positioniseverything.net/easyclearing.html
*/

#twocol {
background:#fff;
}
#twocol:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#leftcol {
float:left;
width:593px; 
padding: 5px;
margin: 0px;
background:#fff;
}

#leftcolsub {
}

#leftleftcol {
width: 280px;
float: left;
}

#leftrightcol {
width: 308px;
float: left;
}

#leftcol h2, #leftcol p {
padding-left: 10px;
}

#rightcol {
float:right;
width: 265px; 
padding: 5px;
margin: 0px;
background:#fff;
}

.clear {
clear:both;
}


/* NODES */
.node {padding:8px; background: url(/static/images/gradient.jpg) repeat-x bottom; margin: 0 0 12px 0;}
.node h1  {padding-bottom:3px;border-bottom:1px dashed #ccc;}
.node .content{ padding:0px 0;}
.node .submitted{color:#999999; font-size:10px;}



/* BLOCKS */
.block h2 {
border-bottom:1px dashed #ccc;
font-size:13px; 
font-weight:normal; 
text-transform:uppercase;
display:block; 
color:#a7cde0; 
padding:8px 8px 0px 8px; margin:2px;
}

.block {border-left:1px dashed #ccc; margin: 0 0 12px 0; padding:2px 8px; }
.block ul {list-style:none;margin:0px;padding:0 0 0 4px;}
.block li { list-style:none; list-style-image:none; line-height:22px; margin:0; padding: 0 0 0 4px;}
.block li{padding-bottom:2px;}
.block ul li a {border:none;display:block;color:#000; }
.block ul li a:hover {color:#1dc4f4;}


/* HEADER */

#header {
height:75px; 
padding-top:0px;
background:#3a617b url(/static/images/bg.jpg) center top no-repeat;
}

#header .logo {
width: 878px;
display: block;
margin: 0 auto;
width:878px; 
}

#header .logo img {
height:75px; 
width:375px; 
margin-left:15px;
}


/* NAVIGATION */

#globalnav {
background:#051c27; 
color:#ddd;
}
#globalnav a {
color:#ddd;
}
#sitenav {
background:#f7f7f7;
}
#sitenav a {
color:#111;
}
.nav {
height:23px; 
color:#fff;
font-family:arial;
}
.nav ul { 
list-style-type: none;
padding:2px 0 0 0;
margin:0 auto;
width:878px; 
}
.nav li {
padding:0 0 0 20px;
display:inline;
font-weight:bold;
}
.nav a {
font-size:11px; 
text-transform:uppercase;
font-weight:bold;
}
.nav a:hover { 
text-decoration: underline; 
}


/*CONTAINER*/

#container{ 
}
#container2 {
background: #fff;
}

.fixed #container2 {
width:878px; 
display: block;
margin: 0 auto;
border:solid #e6e5e5 0px
padding:20px 4px 30px 4px; 
}
.fluid #container2 {
width:100%;
border:1px solid #8a8a8a;
margin:10px;
padding:20px;
width:100%;
}


/* CONTENTMIDDLE  */
#mainpage {width:780px; margin:10px auto; min-height:420px; padding-bottom:30px;}
 
 
/*FOOTER*/

#footer{ 
clear:both;
background:#082234; 
color:#a8dcfe; 
font-size:11px; 
line-height:14px;
}
#footer .content {
width:878px;
margin: 0 auto;
padding-bottom: 10px;
}

#footer p{
padding-top: 10px;
margin: 0px;
}
#footer p.copy{
color:#fff; 
font-size:12px;
}







#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #ece4da;
}

/**
 * CSS support
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #f3f1ed;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #f3f1ed;
}

div.status {
  color: #333;
  border-color: #f3f1ed;
  width:500px;
  padding:10px;
  font-size:120%;
}


ul.errorlist li {
color: red;
background-color: pink;
}

div.error {
  color: #c52020;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #f3f1ed;
  color: #494949;
}


dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

img, a img {
  border: none;
}

table {
/*  margin: 1em 0; */
  width: 100%;
}

thead th {
  border-bottom: 2px solid #ece4da;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
 /* border: solid #ece4da;
  border-width: 1px 0;*/ border:none;
}

tr.odd, tr.info {
  background-color: #ccc;
}

tr.even {
  background-color: #ddd;
}

tr.odd td.active {
  background-color: #ccc;
}

tr.even td.active {
  background-color: #ddd;
}

td.region, td.module, td.container {
  border-top: none;
  border-bottom: none;
  background-color: #434343;
  color: #fff;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #494949;
}
textarea, select {
  font: 12px/160% "Verdana";
  color: #494949;
  width:98%;
 
}
textarea{ height:170px;}




/* UPDATES */

#latestupdates h3 {}
#latestupdates h3 a  {color: #000; font-size: 16px;}
#latestupdates .by {padding-top:3px; color:#787472; text-transform: uppercase; font-size:9px;}
#latestupdates .date {}
#latestupdates p {}

<h3><a href="/updates/#150-genomes-added">150 Genomes Added</a></h3> 
<div class="by">By: dennis</div> 
<p class="date">Monday, June 29, 2009 - 11:27</p> 
<p>Some great news: the most recent run of computation has finished after many months. The data from...</p>



fieldset {
  width: 500px;margin-left:auto;margin-right:auto;
  border: 1px solid #e0e0e0;
  padding: 5px;
  text-align:left;
}

blockquote {
	font-style: italic;
	border-left: 5px solid #D0D0D0;
	padding-left: 10px;
	}
blockquote p {
	font-family: georgia, serif;
	}
blockquote code {	font-style: normal;}




/**************************************/
/*            CALL-to-ACTION          */
/*      The ABOUT box on front page   */
/**************************************/

#call-to-action {
height:208px;
width:590px;
background: url(/static/images/call-to-action-box.jpg) no-repeat;
padding:0px 0px 0px 0px;
}

#call-to-action-text {
width:290px;
float:right;
padding:15px 22px 10px 10px;
}

#call-to-action-text h2 { 
font-size:20px;
line-height:25px;
font-weight:500;
color:#fff;
}

#call-to-action-text p { 
font-size:14px;
line-height:20px;
font-weight:500;
color:#fff;
}

#call-to-action-text p a, #call-to-action-text p:hover a {
color:#ccc; font-weight:300;
}


