{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="node"> 
<h1>about</h1> 
<div class="content">
<p>Principal Investigator: Dr. Dennis P. Wall, the <a href="http://wall.hms.harvard.edu">Wall Lab</a> at the <a href="http://cbmi.med.harvard.edu">Center for Biomedical Informatics</a> at <a href="http://hms.harvard.edu/">Harvard Medical School</a></p> 
<p>Roundup has been developed by Todd F. DeLuca, Kristian St.Gabriel, and I-Hsien Wu.</p>
<p>This project would not have been possible without the hard work and sound advice of many other people, including Jian Pu, Thomas Monaghan, Saurav Singh and Leon Peshkin</p> 
<p>In addition, we owe a great debt of gratitude to Mark Komarinski, Andy Bergman, Bret Martin, Gregory Cavanagh and Marcos Athanasoulis of the <a href="http://ritg.med.harvard.edu/">Research Information Technology Group</a> at Harvard Medical School. Their group maintains the vast linux cluster where our computation takes place.</p> 
</div> 
</div>  
{% endblock content %}
