{% load url from future %}
{% comment %}
basic fixed width layout for roundup pages.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>frontpage | roundup</title>
<meta name="robots" content="index,follow">
<meta name="DC.title" content="roundup | a repository of orthologs">
<style type="text/css" media="all">
div.panel-flexible div.panel-row-1 div.panel-col-1 { width: 98%; }
div.panel-flexible div.panel-row-2 div.panel-col-1 { width: 49%; }
div.panel-flexible div.panel-row-2 div.panel-col-2 { width: 49%; }
div.panel-flexible div.panel-row-3 div.panel-col-1 { width: 98%; }
</style>

<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<!--
<link rel="shortcut icon" href="/static/images/bluebird_favicon.ico" type="image/x-icon">
-->
<link type="text/css" rel="stylesheet" media="all" href="/static/css/style.css">
<link rel="stylesheet" media="all" href="/static/css/chosen-0.9.1/chosen.css" />


<!--
<link type="text/css" rel="stylesheet" media="all" href="/static/css/defaults.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/aggregator.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/node.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/system.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/system-menus.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/user.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/content-module.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/panels.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/flexible.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
-->
<script type="text/javascript" src="/static/js/jquery.1.6.1.min.js"></script>
<script type="text/javascript" src="/static/js/sortable.js"></script> 
<script type="text/javascript" src="/static/js/chosen-0.9.1/chosen.jquery.min.js"></script>

<!--
<script type="text/javascript" src="/static/js/roundup.js"></script>
<script type="text/javascript" src="/static/js/drupal.js"></script>
<script type="text/javascript" src="/static/js/panels.js"></script>
-->
<script type="text/javascript">
var countdownAction = function(count, interval, mainAction, intervalAction) {
  // inspired by http://www.tripwiremagazine.com/2011/04/9-cool-jquery-countdown-scripts.html
  // wait count intervals and then run mainAction().
  // in between intervals, run intervalAction(remaining), where remaining is the number of intervals that will be waited before mainAction()
  // e.g. if count == 3, then wait...intervalAction...wait...intervalAction...wait...mainAction.
  // e.g. if count == 1, then wait...mainAction.
  // e.g. if count == 0, then mainAction.
  // interval: in milliseconds.  
  // count: an integer >= 0. number of intervals before executing main action.
  if (count <= 0) {
    mainAction();
  } else {
    var countdown = setInterval(function() {
      count--;
      if (count <= 0) {
        clearInterval(countdown);
        mainAction()
      } else {
        intervalAction(count);
      }
    }, interval);
  }
};

var waitOnJob = function(job, url) {
  // waits, then checks to see if a lsf job is finished.  if so it forwards the browser to url.  otherwise it waits and checks again.
  // while waiting it makes little tickmarks so the user feels like something is happening.
  var msg = $("p#wait_msg").html();
  countdownAction(10, 1000, 
                  function() {
                    $.ajax({ "url": "{% url 'home.views.job_ready' %}",
                             data: {"job": job},
                             dataType: "json",
                             success: function(data) {
                                        if (data.ready) { window.location.replace(url); } 
                                        else { $("p#wait_msg").html(msg); waitOnJob(job, url); }
                                      },
                             error: function() { alert("callback failed for job="+job+" and url="+url); }
                           });},
                  function(remaining){$("p#wait_msg").html(function(index, oldhtml){ return oldhtml + "."; })});
}

// item: any kind of variable, possibly an array.
// returns: item if it is an array, or item wrapped in an array if it is not.
function makeIntoArray(item) {
    if ((typeof item == "object") && (item.constructor == Array)) { 
	return item;
    } else {
	return [item];
    }
}


//
// FORM UTILITY FUNCTIONS
//

// form: form element
// values: map of element name to a value or an array of values in the case of select or checkbox elements.
// goes through the form elements, assigning their value to the one mapped in values, or checking or selecting
// the element (or its option) if the values match in the case of checkboxes, radio buttons, and selects.
function setFormValues(form, values) {
  form.reset();
  for (var i = 0; i < form.elements.length; i++) {
    var elem = form.elements[i];
    var value = values[elem.name];
    if (typeof value == "undefined") {
	continue;
    }
    if (elem.type == null) {
        continue;
    } else if (elem.type == "select-one" || elem.type == "select-multiple") {
	var valueArr = makeIntoArray(value);
	for (var j = elem.options.length - 1; j >= 0; j--) {
	    if (inArray(elem.options[j].value, valueArr)) {
		elem.options[j].selected = true;
	    } else {
		elem.options[j].selected = false;
            }
        }
    } else if (elem.type == "checkbox" || elem.type == "radio") {
	var valueArr = makeIntoArray(value);
	if (inArray(elem.value, valueArr)) {
	    elem.checked = true;
	} else {
	    elem.checked = false;
        }
    } else {
	elem.value = value;
    }
  }
}

function docWindow2(url) {
    var windowName = 'windowName';
    var properties = 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=1024,height=700';
    window.open(url, windowName, properties);
}

//Is obj in the array arr?
function inArray(obj, arr) {
  for (var i = 0; i < arr.length; i++) {
    if (arr[i] == obj) {
      return true;
    }
  }
  return false;
}
</script>


<!-- gooogle analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25583103-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body class="{% block fluid %}fixed{% endblock %}">
<div id="wrap">

<!-- global nav -->
<div id="globalnav" class="nav">
<ul>
<li>Affiliated Sites:</li>
<li><a href="http://autworks.hms.harvard.edu/" title="">autworks</a></li>
<li><a href="http://cbmi.med.harvard.edu/" title="">CBMI</a></li>
<li><a href="http://lpm.hms.harvard.edu/" title="">LPM</a></li>
<li><a href="http://lpm.hms.harvard.edu/palaver/" title="">palaver</a></li>
<li><a href="http://genotator.hms.harvard.edu/" title="">Genotator</a></li>
<li><a href="http://wall.hms.harvard.edu/" title="">Wall Lab</a></li>
</ul>
</div>
<!-- end global nav -->

<!-- banner -->
<div id="header">
<div class="logo">
<a href="{% url 'home.views.home' %}" title="Home"><img src="/static/images/logo.png" alt="Home"></a>
</div>
</div>
<!-- end banner -->

<!--  site nav -->
<div id="sitenav" class="nav">
<ul>
<li><a href="{% url 'home.views.home' %}"{% if nav_id == 'home' %} class="thisPage"{% endif %}>Home</a></li>
<li><a href="{% url 'home.views.cluster' %}"{% if nav_id == 'cluster' %} class="thisPage"{% endif %}>Retrieve</a></li>
<li><a href="{% url 'home.views.browse' %}"{% if nav_id == 'browse' %} class="thisPage"{% endif %}>Browse</a></li>
<li><a href="{% url 'home.views.download' %}"{% if nav_id == 'download' %} class="thisPage"{% endif %}>Download</a></li>
<li><a href="{% url 'home.views.genomes' %}"{% if nav_id == 'genomes' %} class="thisPage"{% endif %}>Genomes</a></li>
<li><a href="{% url 'home.views.documentation' %}"{% if nav_id == 'documentation' %} class="thisPage"{% endif %}>Documentation</a></li>
<li><a href="{% url 'home.views.about' %}"{% if nav_id == 'about' %} class="thisPage"{% endif %}>About</a></li>
<li><a href="{% url 'home.views.contact' %}"{% if nav_id == 'contact' %} class="thisPage"{% endif %}>Contact</a></li>
</ul>
</div>
<!--  end site nav -->

<!-- content -->
<div id="container">
<div id="container2">
{% if site_maintenance %}
<p class="maintenance">Roundup is currently undergoing routine maintenance.  Thank you for your patience while the site is unavailable.</p>
{% else %}
{% block content %}Under construction.{% endblock %}
{% endif %}
</div>
</div>
<!-- end content -->


<!-- footer -->
<div id="footer">
<div class="content">
<p>This material is based upon work supported by the National Science Foundation under Grant Nos. 0543480 and 0640809 and the National Institutes of Health under Grant No. LM009261. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or National Institutes of Health.</p>
<p class="copy">Copyright (©) 2004-2009 President and Fellows of Harvard College. All Rights Reserved</p>
</div>
</div>
<!-- end footer -->

</div> <!-- end wrap -->

<!-- activate select elements using chosen -->
<script type="text/javascript"> $(".chzn-select").chosen(); </script>

</body>
</html>
