{% load url from future %}

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
<title>Genotator</title>

<link rel="icon" href="/static/img/favicon.jpg" type="image/jpeg" />

<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />

<!-- mesh terms autocomplete box -->
<script src="/static/autocomplete/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/static/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
<link href="/static/autocomplete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(document).ready(function() {	
$('#request_disorder_form input[name="disorders"]').autocomplete("{% url 'geno.views.meshAutocomplete' %}", { autoFill:true, mustMatch:0, matchContains:0, cacheLength:2, delay:4});	
});
</script>

</head>
<body class="{% block body_nav_class %}{% endblock %}">

<div class="main"> <!-- main -->

<!-- header -->
<div class="header">

<div id="globalnav" class="nav">
<ul>
<li class="first"><a href="http://autworks.hms.harvard.edu" title="">autworks</a></li>
<li class=""><a href="http://roundup.hms.harvard.edu/" title="">roundup</a></li>
<li class=""><a href="http://lpm.hms.harvard.edu/palaver/" title="">palaver</a></li>
<li class="last"><a href="http://wall.hms.harvard.edu/" title="">Wall Lab</a></li>
<li class=""><a href="http://lpm.hms.harvard.edu/" title="">LPM</a></li>
<li class=""><a href="http://cbmi.med.harvard.edu/" title="">CBMI</a></li>
</ul>
</div>

<div class="banner">
<div class="yum">
<!-- <a href="/"><img src="/static/img/genotator_banner.jpg" alt="Genotator Banner"/></a> -->
<a href="/"><img src="/static/img/genotator-icon.png" alt="Genotator Banner"/></a>
</div>
</div>

<div id="sitenav" class="nav"> 
<ul> 
<li><a href="{% url 'geno.views.home' %}"{% if nav_id == 'home' %} class="thisPage"{% endif %}>Home</a></li> 
<li><a href="{% url 'geno.views.disorders' %}"{% if nav_id == 'disorders' %} class="thisPage"{% endif %}>Disorders</a></li> 
<li><a href="{% url 'geno.views.contact' %}"{% if nav_id == 'contact' %} class="thisPage"{% endif %}>Contact</a></li> 
<li><a href="{% url 'geno.views.about' %}"{% if nav_id == 'about' %} class="thisPage"{% endif %}>About</a></li> 
<li><a href="{% url 'geno.views.paper' %}"{% if nav_id == 'paper' %} class="thisPage"{% endif %}>Paper</a></li> 
</ul> 
</div> 

</div> <!-- end header -->

<!-- content -->
{% if site_maintenance %}
<p class="maintenance">Genotator is currently undergoing routine maintenance.  Thank you for your patience while the site is unavailable.</p>
{% else %}
<div class="outer_content">
<div class="content">
{% block content %}Under construction.{% endblock %}
</div>
</div>
{% endif %}
<!-- end content -->

<!-- footer -->
<div class="footer"> 
Brought to you by <a href="http://wall.hms.harvard.edu/">The Wall Laboratory for Translational Bioinformatics</a> 
and <a href="http://lpm.hms.harvard.edu/">The Laboratory for Personalized Medicine</a> 
<br /> 
at <a href="http://cbmi.med.harvard.edu/">The Center For Biomedical Informatics</a> at <a href="http://hms.harvard.edu/">Harvard Medical School</a> 
<br />&#169; 2010 - {% now "Y" %}
</div> <!-- end footer -->
 
<script type="text/javascript"> 
<!-- google analytics -->
var _gaq = [['_setAccount', 'UA-11021999-4'], ['_trackPageview']];
(function(d, t) {
var g = d.createElement(t),
s = d.getElementsByTagName(t)[0];
g.async = true;
g.src = '//www.google-analytics.com/ga.js';
s.parentNode.insertBefore(g, s);
})(document, 'script');
</script> 
</div> <!-- end main -->

</body> 
</html> 
