{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
<div id="mainpage"> 
<script><!--
var input_form_example_values = {'primary_genome': 'Arabidopsis_thaliana.aa', 'identifier': '18402218', 'identifier_type': 'seq_id_type', 'secondary_genomes': ['Homo_sapiens.aa', 'Mus_musculus.aa'], 'include_gene_name': 'true', 'include_go_term': 'true'};
// -->
</script> 
<h2>Browse the Roundup Orthology Database</h2> 
<p>
<a href="javascript:setFormValues(document.getElementById('{{ form_id|default:"input_form" }}'), input_form_example_values);">Example</a> 
 and <a href="{% url 'home.views.lookup' %}">Lookup a Sequence Id for a FASTA Sequence</a>
</p> 
{% include 'main_form.html' %}
</div>
{% endblock content %}

