{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
<div id="mainpage"> 
<h2>Download Orthologs for a Pair of Genomes</h2> 
{% include 'main_form.html' %}
<h2>Download Archived Genomes</h2>
<p>
Download an compressed archive containing a FASTA file for every genome in Roundup:
<ul>
<li><a href="{% url 'home.views.download_genomes' %}">{{ genomes_filename }}</a> ({{ genomes_size }})</li>
</ul>
</p>
<h2>Download Archived Orthologs</h2>
<p>
Download a compressed file containing all the orthologs for a given combination of divergence and e-value parameters:
<ul>
{% for div_evalue, filename, size in orthologs_data %}
<li><a href="{% url 'home.views.download_orthologs' div_evalue.0 div_evalue.1 %}">{{ filename }}</a> ({{ size }})</li>
{% endfor %}
</ul>
</p>
<h2>Download Software</h2>
<p>
Need orthologs for a genome not in Roundup?  Download and run the RSD algorithm on your computer:
<ul>
<li><a href="http://wall.hms.harvard.edu/sites/default/files/rsd_standalone.tar.gz">rsd_standalone.tar.gz</a></li>
</ul>
</p>
<p>
For those interested in the how the Roundup website or computational pipeline works, the code for Roundup is available:
<ul>
<li><a href="http://wall.hms.harvard.edu/sites/default/files/roundup.tar.gz">roundup.tar.gz</a></li>
</ul>
</p>
</div>
{% endblock content %}

