{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
{% comment %}
a desc is a tuple of acc, name, taxon, cat, catName, div, divName, size.
{% endcomment %}
<p>
Roundup contains {{ num_genomes }} genomes: {{ num_eukaryota }} Eukaryota, {{ num_bacteria }} Bacteria, {{ num_archaea }} Archaea, {{ num_viruses }} Viruses and Viroids,
and {{ num_unclassified }} Unclassified or Other genomes.
</p>
<p>
Below is a list detailing every genome in Roundup.  It includes the genome identifier (which corresponds to a UniProt Species Code), the genome name, the number of protein sequences in the genome, and the NCBI Taxonomy Id, Category and Division.
</p>
<table id="genome_descs">
<tr>
<th>Genome</th>
<th>Name</th>
<th>Number of Genes</th>
<th>Taxon</th>
<th>Category</th>
<th>Division</th>
</tr>
{% for descs in descGroups %}
{% for desc in descs %}
<tr>
<td><a href="http://www.uniprot.org/taxonomy/{{ desc.2 }}">{{ desc.0 }}</a></td>
<td>{{ desc.1 }}</td>
<td>{{ desc.7 }}</td>
<td><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?lvl=0&id={{ desc.2 }}">{{ desc.2 }}</a></td>
<td>{{ desc.4 }}</td>
<td>{{ desc.6 }}</td>
</tr>
{% endfor %}
{% endfor %}

</table>
{% endblock content %}
