{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
{% comment %}
a desc is a tuple of acc, name, taxon, cat, catName, size.
{% endcomment %}
<p>
Roundup contains {{ num_genomes }} genomes: {{ num_eukaryota }} Eukaryota, {{ num_bacteria }} Bacteria, {{ num_archaea }} Archaea, {{ num_viruses }} Viruses and Viroids,
and {{ num_unclassified }} Unclassified or Other genomes.
</p>
<p>
Below is a list detailing every genome in Roundup.  It includes the NCBI taxonomy id, the genome name, the number of protein sequences in the genome, and the NCBI Category.
</p>
<table id="genome_descs">
<tr>
<th>NCBI Taxon</th>
<th>Name</th>
<th>Category</th>
<th>Number of Genes</th>
</tr>
{% for descs in descGroups %}
{% for desc in descs %}
<tr id="{{desc.0}}">
<td><a href="http://www.uniprot.org/taxonomy/{{ desc.2 }}">{{ desc.0 }}</a></td>
<td>{{ desc.1 }}</td>
<td>{{ desc.3 }}</td>
<td>{{ desc.5 }}</td>
</tr>
{% endfor %}
{% endfor %}

</table>
{% endblock content %}
