{% load url from future %}
{% comment %}
{% endcomment %}

<!-- global navigation -->
<div id="navigation2">
<div id="navigation2-wrap">
<ul class="links" id="subnavlist"><li class="menu-166 first"><a href="http://autworks.hms.harvard.edu/" title="">autworks</a></li>
<li class="menu-231"><a href="http://cbmi.med.harvard.edu/" title="">CBMI</a></li>
<li class="menu-232"><a href="http://lpm.hms.harvard.edu/" title="">LPM</a></li>
<li class="menu-167"><a href="http://lpm.hms.harvard.edu/palaver/" title="">palaver</a></li>
<li class="menu-233"><a href="http://genotator.hms.harvard.edu/" title="">Genotator</a></li>
<li class="menu-234 last"><a href="http://wall.hms.harvard.edu/" title="">Wall Lab</a></li>
</ul>
</div>
</div>
<!-- end global navigation -->

<div id="container">
<div id="container2">

<!-- banner -->
<div id="header">
<div id="logocontainer">
<a href="{% url 'home.views.home' %}" title="Home"><img src="/static/images/logo.png" alt="Home"></a>
</div>
</div>
<!-- end banner -->

<div id="wrap">

<!--  site navigation -->
<div id="content_top"> 
<div id="block-block-1" class="clear-block block block-block"> 
<div class="content"> 
<div id="navigation">
<ul>
<li class="home"><a href="{% url 'home.views.home' %}"{% if nav_id == 'home' %} class="thisPage"{% endif %}>Home</a></li>
<li class="browse"><a href="{% url 'home.views.browse' %}"{% if nav_id == 'browse' %} class="thisPage"{% endif %}>Browse</a></li>
<li class="retrieve"><a href="{% url 'home.views.cluster' %}"{% if nav_id == 'cluster' %} class="thisPage"{% endif %}>Retrieve</a></li>
<li class="download"><a href="{% url 'home.views.raw' %}"{% if nav_id == 'raw' %} class="thisPage"{% endif %}>Download</a></li>
<li class="proteomes"><a href="{% url 'home.views.genomes' %}"{% if nav_id == 'genomes' %} class="thisPage"{% endif %}>Genomes</a></li>
<li class="about"><a href="{% url 'home.views.about' %}"{% if nav_id == 'about' %} class="thisPage"{% endif %}>About</a></li>
</ul>
</div>
</div>
</div>
</div>
<!--  end site navigation -->
