{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div id="contentmiddle">
<div class="node">
<div class="content">
<div class="panel-flexible clear-block">
<div class="panel-flexible-sidebars">

<div class="panel-row panel-row-1 clear-block">
<div class="panel-col panel-col-1 panel-col-only">
<div class="inside">
<div class="panel-pane">
<div class="content">
<div id="call-to-action">
<div id="call-to-action-text">
<h2>Roundup is a database of orthologs and their evolutionary distances. </h2>
<p>To get started, click <a href="{% url 'home.views.browse' %}">browse</a>. Alternatively, you can read our documentation <a href="{% url 'home.views.documentation' %}">here</a>.</p>
<p>Good luck, researchers!</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div> <!-- panel-row-1 -->

<div class="panel-row panel-row-2 clear-block">
<div class="panel-col panel-col-1 panel-col-first">
<div class="inside">
<div class="panel-pane">
<h2 class="title">What is Roundup?</h2>
<div class="content">
<p>Roundup is a large-scale database of orthology. The orthologs are computed using the Reciprocal Smallest Distance (RSD) algorithm. This algorithm detects more (and more accurate) orthologs than reciprocal best blast hits and gives each ortholog a score based on evolutionary distance.</p>
<p>Roundup results are integrated with terms from Gene Ontology and gene names from NCBI. Roundup is a living dataset: the underlying genomes and the orthologs computed from them are updated regularly.<br>
Read a <a href="http://wall.hms.harvard.edu/sites/default/files/RSD_tutorial.pdf">tutorial (PDF)</a> about the locally-installable version of the RSD algorithm then download the <a href="http://wall.hms.harvard.edu/sites/default/files/rsd_standalone.tar.gz">RSD algorithm package</a>.</p>
<p>We have also recently deployed RSD to Amazon's Elastic Compute Cloud. The steps and code needed for RSD-cloud may be downloaded <a href="http://wall.hms.harvard.edu/sites/default/files/Cloud_RSD.zip">here</a>.</p>
</div>
</div>
</div>
</div>
<div class="panel-col panel-col-2 panel-col-last">
<div class="inside">
<div class="panel-pane">
<h2 class="title">Current Database Statistics</h2>
<div class="content"><p>Number of genomes in Roundup: {{ numGenomes }}</p>
<p>Orthologs computed for {{ numGenomePairs }} pairs of genomes.</p>
<p>{{ numOrthologs }} orthologous pairs of genes predicted in total
(for all parameter combinations).</p>
</div>
</div>
</div>
</div>
</div> <!-- panel-row-2 -->

<div class="panel-row panel-row-3 clear-block">
<div class="panel-col panel-col-1 panel-col-only">
<div class="inside">
</div>
</div>
</div> <!-- panel-row-3 -->

</div>
</div>
</div>
</div>
</div> <!-- contentmiddle -->

<div id="rightside">

<div id="block-menu-menu-user-menu" class="clear-block block block-menu">
<h2 class="blocktitle">Welcome</h2>
<div class="content">
<ul class="menu">
<li class="leaf first"><a href="http://bioinformatics.oxfordjournals.org/content/19/13/1710" title="RSD: Detecting putative orthologs">The RSD Algorithm Paper</a></li>
<li class="leaf"><a href="{% url 'home.views.documentation' %}" title="">Documentation</a></li>
<li class="leaf"><a href="{% url 'home.views.sources' %}" title="">List of Genome Sources</a></li>
<li class="leaf"><a href="{% url 'home.views.project_overview' %}" title="">Project Overview</a></li>
<li class="leaf last"><a href="{% url 'home.views.contact' %}" title="contact us">Contact Us</a></li>
</ul>
</div>
</div>

<div id="block-views-LATEST_UPDATES-block_1" class="clear-block block block-views"> 
<h2 class="blocktitle"><p>Latest Updates</p></h2> 
<div class="content">
<div class="view view-LATEST-UPDATES view-id-LATEST_UPDATES view-display-id-block_1 view-dom-id-1"> 
<div class="view-content"> 

<div class="views-row-1 views-row-odd views-row-first"> 
<div class="views-field-title"> 
<span class="field-content"><a href="/updates/#150-genomes-added">150 Genomes Added</a></span> 
</div> 
<div class="views-field-name"> 
<label class="views-label-name"> 
By:
</label> 
<span class="field-content">dennis</span> 
</div> 
<div class="views-field-created"> 
<span class="field-content">Monday, June 29, 2009 - 11:27</span> 
</div> 
<div class="views-field-teaser"> 
<div class="field-content"><p>Some great news: the most recent run of computation has finished after many months. The data from...</p></div> 
</div> 
</div> 

<div class="views-row-2 views-row-even">       
<div class="views-field-title"> 
<span class="field-content"><a href="/updates/#about-790-genomes-currently-being-computed">About 790 genomes currently being computed</a></span> 
</div> 
<div class="views-field-name"> 
<label class="views-label-name"> 
By:
</label> 
<span class="field-content">dennis</span> 
</div> 
<div class="views-field-created"> 
<span class="field-content">Monday, June 8, 2009 - 13:00</span> 
</div> 
<div class="views-field-teaser"> 
<div class="field-content"><p>This amounts to about 6.4 gig of genomic data to compute, although the results files will be much...</p></div> 
</div> 
</div> 

<div class="views-row-3 views-row-odd">       
<div class="views-field-title"> 
<span class="field-content"><a href="/updates/#last-fridays-outage">Last Friday&#039;s outage</a></span> 
</div> 
<div class="views-field-name"> 
<label class="views-label-name"> 
By:
</label> 
<span class="field-content">dennis</span> 
</div> 
<div class="views-field-created"> 
<span class="field-content">Monday, June 8, 2009 - 12:53</span> 
</div> 
<div class="views-field-teaser"> 
<div class="field-content"><p>Apologies to all for the outage on Friday 5 June. We hope it didn't inconvenience any research. T...</p></div> 
</div> 
</div> 

<div class="views-row-4 views-row-even">       
<div class="views-field-title"> 
<span class="field-content"><a href="/updates/#just-few-more-things">Just a few more things</a></span> 
</div> 
<div class="views-field-name"> 
<label class="views-label-name"> 
By:
</label> 
<span class="field-content">dennis</span> 
</div> 
<div class="views-field-created"> 
<span class="field-content">Wednesday, April 22, 2009 - 16:59</span> 
</div> 
<div class="views-field-teaser"> 
<div class="field-content"><p>I'm completing the new portal on the front end, while Todd works on various database improvements...</p></div> 
</div> 
</div> 

<div class="views-row-5 views-row-odd views-row-last">       
<div class="views-field-title"> 
<span class="field-content"><a href="/updates/#orthologs-transitioned-new-schema-production-database">Orthologs transitioned to new schema in the production database</a></span> 
</div> 
<div class="views-field-name"> 
<label class="views-label-name"> 
By:
</label> 
<span class="field-content">todd</span> 
</div> 
<div class="views-field-created"> 
<span class="field-content">Friday, April 17, 2009 - 00:00</span> 
</div> 
<div class="views-field-teaser"> 
<div class="field-content"><p>Transitioned orthologs from the old schema to the new schema in the production roundup database...</p></div> 
</div> 
</div> 
</div> 

<div class="views-row-6 views-row-odd views-row-last">       
<div class="views-field-title"> 
<span class="field-content"><a href="/updates/">See more of the latest updates</a></span> 
</div> 
</div> 

</div> 
</div> 
</div> 
</div> <!-- latest updates -->

</div> <!-- rightside div -->
{% endblock content %}

