{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
<script>
var cat_genomes_json = {{ cat_genomes_json|safe }};
$(function(){
filterSelect('primary_genome_filter', 'id_primary_genome', cat_genomes_json);

filterSelect('secondary_genomes_filter', 'id_secondary_genome_choices', cat_genomes_json);
selectToTextarea('id_secondary_genome_choices', 'id_secondary_genomes');
tidyTextarea('id_secondary_genomes');
});
</script>

<div id="mainpage"> 
<h2>Browse the Roundup Orthology Database</h2> 
<p>
Do you want to restrict a query by sequence id?  Are you not sure what id to use?  <a href="{% url 'home.views.lookup' %}">Lookup a Sequence Id for a FASTA Sequence</a>
<br />
For practical and quadratic reasons, queries with 20 or fewer genomes run quickly.  Queries with over 200 genomes might not run at all, depending on the size of the genomes.
</p> 
{% include 'main_form.html' %}
</div>
{% endblock content %}
 
