{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
<script>
var cat_genomes_json = {{ cat_genomes_json|safe }};
$(function(){
filterSelect('genomes_filter', 'id_genome_choices', cat_genomes_json);
selectToTextarea('id_genome_choices', 'id_genomes');
tidyTextarea('id_genomes');
});
</script>

<div id="mainpage"> 
<h2>Retrieve Phylogenetic Profiles in the Roundup Orthology Database</h2> 
<p>
For practical and quadratic reasons, queries with 20 or fewer genomes run quickly.  Queries with over 200 genomes might not run at all, depending on the size of the genomes.
</p>
{% include 'main_form.html' %}
</div>
{% endblock content %}
 
