{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
<div id="mainpage"> 
<div id="contact_box" class="section">
<div align="left"><h3>Contact Us</h3></div> 
<hr> 
<p>Is something broken?  Do you not understand how one of our applications works?  Are your results all screwy?  Want to let us know what you like?  Do you have a suggestion for how we can improve the site?
<p>If so please take a minute to fill out the form below.  We appreciate your feedback and will do our best to resolve any issues as soon as possible.</p> 

{% comment %}
<form class="plain_table" action="{% url 'home.views.contact' %}" method="post">
{% csrf_token %}
{{ form.as_ul }}
<input type="submit" value="Submit" />
</form>
{% endcomment %}

{% include 'main_form.html' %}
</div>
</div>
{% endblock content %}

