{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
<div id="mainpage"> 


<h2>Download Orthologs for a Pair of Genomes</h2> 
{% include 'main_form.html' %}


<h2>Download Archived Releases</h2>
<p>
Download the orthologs for the current (and past) Roundup release and the
genomes used to compute them.
You can download the orthologs as a compressed
<a href="{% url 'home.views.documentation' %}#orthtextformat">text-format</a>
file containing all the orthologs for a given combination of divergence and
e-value parameters.
You can download the genomes used in a Roundup release as a compressed archive
containing a FASTA file for every genome.
</p>
<p>
Releases prefixed with 'qfo_' are special releases of data generated as a part
of the <a href="http://questfororthologs.org/">Quest for Orthologs</a>, a
worldwide collaboration of orthology researchers aimed at standardizing, 
evaluating, and improving ortholog inference.  These releases contain orthologs
for the <a href="http://www.ebi.ac.uk/reference_proteomes/">Reference
  Proteomes</a> of the Quest for Orthologs group, computed using a divergence
of 0.8 and e-value of 1e-5, which can be downloaded as a compressed 
<a href="http://seqxml.org/">OrthoXML</a> file.
</p>
{% for rd in release_link_datas %}
<h3>Release {{ rd.release }}</h3>
<ul>
{% for data in rd.links %}
<li><a href="{{ data.link }}">{{ data.text }}</a> ({{ data.size }})</li>
{% endfor %}
</ul>
{% endfor %}


<h2>Download Software</h2>
<p>
Need orthologs for a genome not in Roundup?  Download and run the RSD algorithm on your computer:
<ul>
<li><a href="https://github.com/todddeluca/reciprocal_smallest_distance">RSD on Github</a></li>
</ul>
</p>
<p>
For those interested in the how the Roundup website or computational pipeline works, the code for Roundup is available at:
<ul>
  <li>
  <!-- <a href="http://wall.hms.harvard.edu/sites/default/files/roundup.tar.gz">roundup.tar.gz</a> -->
  <a href="https://github.com/walllab/roundup">Roundup on GitHub</a>
  </li>
</ul>
</p>
</div>
{% endblock content %}

