{% extends "base.html" %}
{% load url from future %}
{% comment %}
{% endcomment %}

{% block content %}
{% comment %}
a desc is a tuple of acc, name, taxon, cat, catName, size.
{% endcomment %}
<p>
Roundup contains {{ num_genomes }} genomes: {{ num_eukaryota }} Eukaryota, {{ num_bacteria }} Bacteria, {{ num_archaea }} Archaea, and {{ num_viruses }} Viruses and Viroids.
</p>
<p>
Below is a list detailing every genome in Roundup.  It includes the NCBI 
taxonomy id, the genome name, the number of protein sequences in the genome, 
and the NCBI Category.  All genomes in Roundup come from The UniProt 
Knowledgebase. See the <a href="{% url 'home.views.about' %}">About</a> page 
for more details on the data sources in Roundup.  A genome 
is included in Roundup if it contains at least {{ min_genome_size }} protein sequences marked 
with the keyword "Complete proteome" in UniProt.  As more genomes are marked
complete by UniProt, they will be added to future versions of Roundup.
</p>
<table id="genome_descs">
<tr>
<th>NCBI Taxon</th>
<th>Name</th>
<th>Category</th>
<th>Number of Genes</th>
</tr>
{% for descs in descGroups %}
{% for desc in descs %}
<tr id="{{desc.0}}">
<td><a href="http://www.uniprot.org/taxonomy/{{ desc.2 }}">{{ desc.2 }}</a></td>
<td>{{ desc.1 }}</td>
<td>{{ desc.3 }}</td>
<td>{{ desc.5 }}</td>
</tr>
{% endfor %}
{% endfor %}

</table>
{% endblock content %}
