{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block content %}
{% comment %}
<div class="maintenance">
Maintenance Alert: Saturday, September 10 2011, from 4:00 - 8:00 AM EDT the website will be unavailable as it undergoes maintenance.
</div>
{% endcomment %}

<div id="twocol">

<div id="leftcol">

<div id="call-to-action">
<div id="call-to-action-text">
<h2>Roundup is a database of orthologs and their evolutionary distances. </h2>
<p>To get started, click <a href="{% url 'home.views.cluster' %}">retrieve</a>. Alternatively, you can read our documentation <a href="{% url 'home.views.documentation' %}">here</a>.</p>
<p>Good luck, researchers!</p>
</div>
</div>

<div id="leftcolsub">
<div id="leftleftcol">
<h2 class="title">What is Roundup?</h2>
<p>Roundup is a large-scale orthology database.  The orthologs are computed using the Reciprocal Smallest Distance (RSD) algorithm. This algorithm detects more (and more accurate) orthologs than reciprocal best blast hits and gives each ortholog a score based on its maximum likelihood evolutionary distance.</p>
<p>Every release of Roundup downloads the latest genomes from <a href="http://www.uniprot.org/">UniProt</a> and computes orthologs for them.  See <a href="{% url 'home.views.about' %}">About</a> for more information about Roundup's data sources and release schedule.</p>
<p>
<a href="{% url 'home.views.download' %}">Download</a> a locally-installable
version of the RSD algorithm.  You can learn more about how to run RSD at
<a href="https://github.com/todddeluca/reciprocal_smallest_distance">GitHub</a>.
</p>
<p>We have also run RSD on <a href="http://aws.amazon.com/ec2/">Amazon Elastic Compute Cloud</a>. The steps and code we used to run RSD on the cloud may be downloaded <a href="http://wall.hms.harvard.edu/sites/default/files/Cloud_RSD.zip">here</a>.</p>
</div>

<div id="leftrightcol">
<h2 class="title">Database Statistics for Release {{ release }}</h2>
<ul>
<li>Release date: {{ release_date }}.</li>
<li>Number of genomes: {{ numGenomes|intcomma }}.</li>
<li>Number of pairs of genomes searched for orthologs using the RSD algorithm: {{ numPairs|intcomma }}.</li>
<li>Number of orthologous pairs of genes inferred (for all parameter combinations): {{ numOrthologs|intcomma }}.</li>
</ul>
<h2 class="title">How to Cite</h2>
<p>
If you use Roundup, please cite 
<a href="http://bioinformatics.oxfordjournals.org/content/28/5/715">
Roundup 2.0: Enabling comparative genomics for over 1800 genomes.
Deluca TF, Cui J, Jung JY, St Gabriel KC, Wall DP.
Bioinformatics. 2012</a>.
</p>
<p>
If you use the RSD algorithm, please cite <a href="http://bioinformatics.oxfordjournals.org/content/19/13/1710" title="RSD: Detecting putative orthologs">Wall, D.P., Fraser, H.B. and Hirsh, A.E. (2003) Detecting putative orthologs, Bioinformatics, 19, 1710-1711.</a>
</p>
</div>


</div><!-- end leftcolsub -->
</div> <!-- end leftcol -->

<div id="rightcol">

</div> <!-- latest updates -->

</div> <!-- end rightcol -->
</div> <!-- end twocol -->

{% endblock content %}

