{% load url from future %}
{% comment %}
form_doc_id: fragment identifier in documentation page
form_id: used for javascript actions, e.g. filling in value in an example query
form_action: e.g. a url where the form is submitted.
form_method: defaults to 'post'.
{% endcomment %}
{% if form_doc_id or form_example %}
<p>
{% if form_doc_id %}<a href="javascript:docWindow2('{% url 'home.views.documentation' %}#{{ form_doc_id }}')">Documentation</a>{% endif %}
{% if form_doc_id and form_example %} and {% endif %}
{% if form_example %}<a id="input_form_example_link" href="javascript:void(0)">Example</a>{% endif %}
</p>
{% endif %}

<form id="{{ form_id|default:"input_form" }}" class="plain_table" action="{{ form_action }}" method="{{ form_method|default:"post" }}">
{% csrf_token %}
{{ form.non_field_errors }}
<table class="paramTable">
{% for field in form %}
<tr>
<td>
{% comment %}
{% if form_doc_id %}<a href="javascript:docWindow2('{% url 'home.views.documentation' %}#{{ field.name }}')">{% endif %}{{ field.label_tag }}{% if form_doc_id %}</a>{% endif %}
{% endcomment %}
{{ field.label_tag }}{% if field.help_text %} ({{ field.help_text }}){% endif %}{% if not field.field.required %} (Optional){% endif %}:</td>
<td>{{ field.errors }}{{ field }}</td>
{% comment %}
{% endcomment %}
</tr>
{% endfor %}
</table>
<input type="submit" value="Submit" />
{% comment %}
<input type="reset" value="Reset" />
{% endcomment %}
</form>

{% if form_example %}
<script><!--
var input_form_example_values = {{ form_example|safe }};
$('#input_form_example_link').click(function() {
  setFormValues(document.getElementById('{{ form_id|default:"input_form" }}'), input_form_example_values);
{% for chosen_id in chosen_ids %}
  $('#{{ chosen_id }}').trigger("liszt:updated");
{% endfor %}
});
// -->
</script>
{% endif %}
